
body {
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.logo {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color:#2e2f42;
}

.nav-studio {
font-weight: 500;
line-height: 1.5;
}

.nav-link {
    color:#434455;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-studio :hover {
color: #404bbf;     
}

.nav-studio :focus {
    color: #404bbf;
}

.main-address {
    font-style: normal;
}

.address-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link {
    color: #434455;
}

.address-info :hover {
    color: #404bbf;
}

.address-info :focus {
    color: #404bbf;
}

/* sectione 1 */
.one {
    background: #2E2F42;
}

.effective {
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
        line-height: 1.07;
}

.one-batton {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.one-batton:hover {
    background-color: #404BBF;
}

.one-batton:focus {
    background-color: #404BBF;
}

/* section second */

.goals-names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.goals-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.002em;
}

.our-team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36pxf;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.our-team {
    background-color: #FFFFFF;
}

.team-person {
    font-weight: 500;
    font-style: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-person-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* section three все шо и с прошлого блока */

/* footer */

.footer-box {
    background-color: #2e2f42;

}

.logo-footer {
    color:#f4f4fd;
}

.footer-info {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}