
body {
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", "Roboto", "Verdana", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.logo {
font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color:#2e2f42;
}

.nav-studio {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.002em;
color: #2e2f42;
}

.nav-studio :hover {
color: #404bbf;     
}

.nav-studio :focus {
    color: #404bbf;
}

.main-address {
    font-style: normal;
}

.address-info {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-info :hover {
    color: #404bbf;
}

.address-info :focus {
    color: #404bbf;
}

.one {
    background: #2E2F42;
}

.effective {
        font-family: Roboto;
        font-size: 56px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}

.one-batton {
width: Hug (169px)px;
    height: Hug (56px)px;
    top: 428px;
    left: 636px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background-color: #4D5AE5;
}